NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51QPXrr09UCr3ZZi877qPKrTPIsozNU7Pu7WG22Or6wo2xDz3HB1KhACAwGCG2tcL8MYFUJiDjF7O4tUTDQv35EaH00G8AotedJ
STRIPE_SECRET_KEY=sk_test_51QPXrr09UCr3ZZi893TrcEwQ3iZmWDTw913iBBM0fAPd4aYnpOQzA3Rpf9p7Ms3FJVA6V6URB35a1D1u86nx912F00dr8YjfCJ